html
  head
    title Webkit
    link(rel="stylesheet" type="text/css" href="/assets/style.css")
    block head
  body
    block content

    footer.
      &copy;2016 All rights reserved.

    script(src="/assets/app.js")
