/**
 * This is endpoint for all style files and build system won't work without it.
 * The final content will be in ./web/assets/style.css
 * 
 * You can import other files from within this directory using
 * @import 'file_name.styl'
**/